@font-face {
  font-family: Altone;
  src: url(../fonts/Altone.ttf);
  font-style: normal;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Altone";
  --bg-color: #000;
  --bg-01: #111110;
  --bg-02: #0b0b0b;
  --primary-color-01: #c3ff19;
  --primary-color-02: #8dbf00;
  --btn-color: #c3ff19;
  --btn-01: #252525;
  --text-color1: #ffffff;
  --text-color2: #dddddd;
  --text-color3: #000000;
  --text-color4: #9d9d9d;
  --card-bg: #0e0e0d;
  --breaker-01: #2a2a29;
  --breaker-02: #1b1b1b;
  --breaker-03: #1e1e1e;
}

/* Scroll Bar CSS Start */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #27272a;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--btn-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}

/* Scroll Bar CSS End */

/* Dashboard Start */

.domain_search_icon {
  width: 100px;
  height: 100px;
  margin: 30px auto 20px;
}

.domain_search_icon img {
  width: 100%;
}

.find_domain h2 {
  font-family: var(--main-font);
  color: var(--text-color1);
  font-weight: 700;
  font-size: 1.6em;
  text-align: center;
}

.find_domain p {
  font-family: var(--main-font);
  color: #71717a;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  border-bottom: 1px solid #27272a;
  padding-top: 5px;
  padding-bottom: 25px;
}

.divider {
  width: 100%;
  height: 1px;
  background: #27272a;
  margin-top: 50px;
}

.domain label {
  display: block;
  color: #a1a1aa;
  padding-left: 10px;
  font-size: 14px;
  font-family: var(--main-font);
  margin-bottom: 10px;
}

.domain input {
  display: block;
  width: 100%;
  padding: 8px;
  background: #18181b;
  border: 1px solid #27272a;
  outline: none;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  color: var(--text-color2);
  font-family: var(--main-font);
}

.domain input::placeholder {
  color: #52525b;
}

.domain button {
  display: block;
  width: 100%;
  background: var(--btn-color);
  color: var(--text-color1);
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 8px 0;
  margin-top: 25px;
}

/* Domain Card Start */
.domain_available_card h2 {
  font-family: var(--main-font);
  font-size: 1.4em;
  color: var(--text-color1);
  text-align: center;
  font-weight: 600;
  margin-top: 30px;
}

.domain_available_card h2 span {
  color: #00bfa5;
}

.domain_available_card_content {
  width: 250px;
  margin: auto;
  background-color: #18181b;
  border: 1px solid #27272a;
  padding: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-top: 30px;
}

.domain_available_card_content h4 {
  text-align: center;
  font-family: var(--main-font);
  color: var(--text-color1);
  font-weight: 600;
}

.domain_available_card_content h4 img {
  width: 25px;
  margin-top: -3px;
  margin-right: 3px;
}

.domain_available_card_content p {
  text-align: center;
  font-family: var(--main-font);
  color: var(--text-color1);
  font-weight: 500;
  margin: 15px 0 10px;
}

.domain_available_card_content .card_date {
  display: block;
  text-align: center;
  font-family: var(--main-font);
  color: #71717a;
  font-weight: 400;
}

.domain_card_btn a {
  text-decoration: none;
  color: var(--text-color1);
  background-color: var(--btn-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: block;
  width: 100%;
  padding: 8px 0;
  text-align: center;
  font-weight: 600;
  margin-top: 15px;
}

/* domain table start */

body {
  background-image: url(../img/dashboard/Dashboard-domain-bg.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

.domain_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.domain_head_btn a {
  text-decoration: none;
  color: var(--primary-color-01);
}

.content_wrapper {
  padding: 0 30px;
}

.domain_item {
  width: 100%;
}

.domain_item h2 {
  font-family: var(--main-font);
  font-size: 1.4em;
  color: var(--text-color1);
  margin: 20px 0;
}

.domain_table {
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: 100%;
}

.domain_table th {
  background-color: var(--bg-01);
  color: var(--text-color4);
  font-size: 14px;
}

.domain_table th,
td {
  padding: 14px;
  font-family: var(--main-font);
  /* font-weight: 600; */
}

.domain_table td {
  color: var(--text-color1);
  background-color: var(--bg-02);
  font-size: 14px;
  vertical-align: middle;
  border-top: 1px solid var(--breaker-02);
}

.domain_table td:first-child {
  color: var(--primary-color-01);
}

.domain_table td img {
  width: 18px;
  margin-top: -3px;
  margin-right: 3px;
}

.domain_table td .active {
  color: var(--text-color1);
  margin-right: 20px;
}

.domain_table td a {
  text-decoration: none;
  margin: 0 5px;
  color: #f44336;
}

.action_btn_filled {
  background-color: var(--primary-color-01);
  color: var(--text-color3);
  font-weight: 600;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-right: 6px;
}

.action_btn_transparent {
  background-color: var(--btn-01);
  color: var(--primary-color-01);
  border: none;
  padding: 9px 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

@media screen and (max-width: 900px) {
  .domain_table {
    width: 100%;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .domain_table th,
  td {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .content_wrapper {
    padding: 0 20px;
  }
}

@media screen and (max-width: 575px) {
  .domain_head {
    display: block;
    margin-bottom: 20px;
  }
}

/* Dashboard End */
